.detail {
  text-decoration: none;
  color: white;
  display: grid;
  height: 150px;
  grid-template-columns: 220px 1fr 5em;
  grid-template-rows: 3em 1fr 1.2em;
}

.detail__text {
  grid-column-start: 2;
}

.detail__date {
  grid-column-start: 3;
  grid-row-start: 3;
}

.detail__img {
  max-width: 200px;
  height: 140px;
  margin: 0 auto;
  grid-row: span 3;
}

@media(max-width: 500px) {
  .detail {
    display: inline;
  }
}
